<h3>New Page</h3>
<a href="/" class="btn">Home</a>
<a href="/records/calendar" class="btn">Calendar</a>
<a href="/records/analytics" class="btn">Analytics</a>
<a href="/records/new/spending" class="btn">Add New</a>

<a href="/records/new/spending" class="btn">New Spending</a>
<a href="/records/new/income" class="btn">New Income</a>

<form action="/records" method="POST">
    <div>
        <label for="price">Price (¥): </label>
        <input type="text" id="price" name="record[price]" required>
    </div>
    <div>
        <label for="payer">Payer: </label>
        <select name="record[payer]" id="payer">
            <% for(let user of users) {%>
                <option value="<%=user._id%>" <%= currentUser.username === user.username ? 'selected': '' %>><%=user.username%></option>
            <% } %>
        </select>
    </div>
    <div>
        <label for="date">Date: </label>
        <input type="date" id="date" name="record[date]" value="<%= moment(new Date()).format('yyyy-MM-DD')%>" required>
    </div>
    <div>
        <label for=" description">Description: </label>
        <input type="text" id="description" name="record[description]" required>
    </div>
    <div>
        <% for(let category of categories) {%>
            <div>
                <input type="radio" id="<%=category.name%>" name="record[category]" value="<%=category._id%>">
                <label for="<%=category.name%>"><%=category.name%></label>
            </div>
            <% } %>
    </div>
    <div>
        <button class="btn btn-success ">Create new Income</button>
    </div>
</form>
<a href="/records/calendar " class="btn ">Calendar</a>