<link rel="stylesheet" href="/stylesheets/category.css">
<% layout('layouts/boilerplate')%>
    <div class="mb-4 col-6 offset-3">
        <div class="card mb-3">
            <div class="card-header text-primary">
                <%=record.category.type%>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <h5 class="card-title text-primary">
                        <%=record.description%>
                    </h5>
                    <p class="card-text">
                        ¥
                        <%=record.price%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6 class="card-subtitle text-muted mb-2">Payer</h6>
                        <p class="card-text">
                            <%=record.payer.username%>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h6 class="card-subtitle text-muted mb-2">Date</h6>
                        <p class="card-text">
                            <%=moment(record.date).format('yyyy/MM/DD')%>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h6 class="card-subtitle text-muted mb-2">Category</h6>
                        <p class="card-text">
                            <%=record.category.name%>
                        </p>
                    </li>
                    <li class="list-group-item text-end">
                        <a href="/records/<%=record._id%>/edit" class="card-link btn btn-warning">Edit</a>
                        <form class="d-inline" action="/records/<%=record._id%>?_method=DELETE" method="POST">
                            <button class="card-link btn btn-danger">DELETE</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <form action="/" method="POST" class="mb-3" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="body">Leave a Comment</label>
                        <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="2" required></textarea>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
        <div class="card border-light mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="text-primary">Jasmine&nbsp;</span>I refunded this item
                    <br><a href="#" class="btn btn-outline-secondary btn-sm float-end d-inline ">Delete</a><small class=" text-muted ">Last updated 19 mins ago</small>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Aladdin&nbsp;</span>I bought it again
                    <br><a href="#" class="btn btn-outline-secondary btn-sm float-end d-inline ">Delete</a><small class=" text-muted ">Last updated 13 mins ago</small>
                </li>
                <li class="list-group-item">
                    <span class="text-primary">Jasmine&nbsp;</span>Okay Thanks
                    <br><a href="#" class="btn btn-outline-secondary btn-sm float-end d-inline ">Delete</a><small class=" text-muted ">Last updated 3 mins ago</small>
                </li>
            </ul>
        </div>
        <footer class="mb-3">
            <a href="/records/calendar">Go to Calendar</a>
        </footer>
    </div>